* {
    margin: 0px;
    padding: 0px
}

@font-face{
    font-family: BigNoodleTitling;
    src: url("../fonts/big_noodle_titling.ttf");

    font-family: Century Gothic;
    src: url("../fonts/CenturyGothic.ttf");
}

body {
    background: url(../img/bg2.png) no-repeat fixed;

    height: 100vh;

    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";

    grid-template-rows: 55px 1fr 30px;
}

.box-header {
    background-color: #1b1b1b;
    grid-area: header;
    width: 100vw;
    height: 55px;
    opacity: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: auto;
}

.texto-menu {
    font-family: BigNoodleTitling;
    font-size: 20px;
    color: #CCC;
}

.li-menu {
    margin-left: 25px;
    display: inline;
}

.li-menu:hover {
    opacity: 60%;
}

.logo {
    background: url(../img/logo.png) no-repeat;
    width: 40px;
    height: 40px;
}

.login-jota {
    background-color: #3b3a3a;
    width: auto;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 50px;
}

.login-jota:hover {
    opacity: 30%;
}

.texto-login{
    margin: 0 15px;
    font-family: CENTURY GOTHIC;
    font-weight: bold;
    font-size: 20px;
    color: #888;
    text-align: center;
}

.rodape {
    background-color: #1b1b1b;
    grid-area: footer;
    width: 100vw;
    height: 30px;
    opacity: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: CENTURY GOTHIC;
    font-size: 12px;
    color: #CCC;
}
